{% extends 'base.html.twig' %}
{% block body %}
<section class="shop_grid_area section-padding-80">
  <div class="container">
    <div class="row">
      <form action="/customer/account/resetpasswordpost?token={{getRequestParam().getParam('token')}}"
            method="post"
            autocomplete="off"
            id="form-validate"
            class="form password reset"
            data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset" data-hasrequired="{{'* Required Fields'|trans}}">
          <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
            <label class="label" for="password"><span>{{'New Password'|trans}}</span></label>
            <input type="password" class="input-text form-control" name="password" id="password"
                                                                                   data-password-min-length="{{ block.getMinimumPasswordLength}}"
                                                                                   data-password-min-character-sets="{{ block.getRequiredCharacterClassesNumber}}"
                                                                                   data-validate="{required:true, 'validate-customer-password':true}"
                                                                                   autocomplete="off">
            <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
              <div id="password-strength-meter" class="password-strength-meter">
                {{'Password Strength'|trans}}
                <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                  {{'No Password'|trans}}
                </span>
              </div>
            </div>
          </div>
          <div class="field confirmation required">
            <label class="label" for="password-confirmation"><span>{{'Confirm New Password'|trans}}</span></label>
            <input type="password" class="input-text form-control" name="password_confirmation" id="password-confirmation" data-validate="{required:true,equalTo:'#password'}" autocomplete="off">
          </div>
        </fieldset>
        <div class="actions-toolbar">
          <div class="primary">
            <input type="hidden" name="form_key" value="{{ getFormKey }}">
            <button type="submit" class="action submit primary form-control btn essence-btn"><span>{{'Set a New Password'|trans}}</span></button>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>

{% endblock %}
