{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  <div class="row">
    <form class="form password forget"
          action="/customer/account/forgotpasswordpost"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'>
      <div class="col-12" data-hasrequired="{{'* Required Fields'|trans}}">
        <div class="field note">{{'Please enter your email address below to receive a password reset link.'|trans}}</div>
        <div class="field email required">
          <label for="email_address" class="label"><span>{{'Email'|trans}}</span></label>
          <div class="control">
            <input type="email" name="email" alt="email" id="email_address" class="input-text form-control" value="" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
          </div>
        </div>
        {{form_additional_info|raw}}
        <input type="hidden" name="form_key" value="{{ getFormKey }}">
      </fieldset>
      <div class="col-12">
        <div class="primary">
          <button type="submit" class="action submit primary form-control btn essence-btn"><span>{{'Reset My Password'|trans}}</span></button>
        </div>
        <div class="secondary">
          <a class="action back" href="{{ getUrl('customer/account/login') "><span>{{'Go back'|trans}}</span></a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
